<footer class="footer">
  <small>
    <a href="/static_pages/about">Adventure Space</a>
    by <a href="/static_pages/contact">Kenny Udovic
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
<footer>
